.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 300px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
}

.logoTitleMain {
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  color: var(--blue);
}

.logoTitleSecondary {
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -24px;
  color: var(--red);
  display: flex;
  align-items: center;
  
}

.logoBook {
  color: var(--green);
  margin-left: 5px;
  font-size: 24px;
}

.searchbarContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.cardContainerPage {
  margin-top: 20px;
  width: 100vw;
  background-color: #ececec;
  display: flex;
  justify-content: center;
}

.cardContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 10px;
  cursor: pointer;
}

.pageNumbers li.active {
  color: var(--red);
  font-weight: bold;
}


/*  -- responsive css -- */

@media (max-width: 600px) {

  .cardContainerPage {
    margin-top: 30px;
  }
}