.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  height:480px;
}

.modalHeader {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  background-color: var(--blue);
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  color: white;
}

.modalContainer .closeIcon {
  display: flex;
  font-size: 26px;
  margin-right: 20px;
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.modalInfo {
  display: flex;
  justify-content: space-between;
}

.modalSideInfo {
  display: flex;
  justify-content: flex-start;
}

.modalSideInfo h3 {
  margin-bottom: 5px;
}

.bookImage {
  min-width: 150px;
  height: 200px;
  border: 1px solid var(--light-gray);
  margin-right: 10px;
}

.modalDescription {
  margin-top: 20px;
  padding: 10px 15px 10px;
  overflow-y: scroll;
  max-height: 200px;
}

.modalInfo .favoriteContainer {
  font-size: 20px;
  padding: 3px;
  margin: 0 3px;
  cursor: pointer;
}

.favorite {
  color: var(--blue);
  font-size: 30px;
}

.notFavorite {
  color: var(--gray);
  font-size: 30px;
}


@media (max-width: 500px) {

  .modalContainer {
    width: 90vw;
    height: 90vh;
  }

  .modalHeader {
    height: 30px;
    font-size: 13px;
  }

  .modalSideInfo h3 {
    font-size: 15px;
  }

  .modalSideInfo p, .modalDescription {
    font-size: 14px;
  }

  .modalDescription {
    overflow-y: scroll;
    max-height: 130px;
    padding-right: 10px;
  }
}


@media (max-width: 390px) {

  .bookImage {
    min-width: 100px;
    height: 175px;
  }
}



