.searchbarBox {
  height: 50px;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.searchbarBox .searchIconBox {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 3px;
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
}

.searchbarBox .searchIcon {
  font-size: 20px;
  margin-left: 10px;
  color: var(--blue);
}

.searchbarBox input[type=text] {
  height: 45px;
  outline: none;
  color: var(--blue);
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-left: none;
  width: 50%;
  padding-left: 8px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchbarBox input::placeholder {
  font-size: 15px;
}

.searchbarBox input:focus {
  border-bottom: 1px solid var(--blue);
}

.searchbarBox .btnSearch {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: var(--red);
  padding: 8px 40px;
  border: 1px solid var(--red);
  margin-left: 20px;
  border-radius: 50px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

.searchbarBox .btnSearch:hover {
  background-color: var(--red);
  color: white;
}

.searchbarBox .btnSearch:disabled {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  color: white;
  cursor: initial;
}


/*  -- responsive css -- */

@media (max-width: 600px) {

  .searchbarBox {
    width: 100%;
  }
  
  .searchbarBox input[type=text] {
    width: 80%;
    font-size: 15px;
  }

  .searchbarBox .btnSearch {
    margin-top: 12px;
  }
}

@media (max-width: 360px) {

  .searchbarBox input::placeholder {
    font-size: 13px;
  }
  
}